
<h1><%= @product.name %></h1>
<br>
<hr>
<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-6">
        <h3>Origin: <%= @product.country_of_origin %> || Cost: $<%= @product.cost %>.00 </h3>
      </div>
      <div class="col">
        <div class = "header">
            <%= link_to "BACK", products_path%> 
            <% if current_user %>
               || <%= link_to "ADD REVIEW", new_product_review_path(@product)%>
            <% end %>
            <% if current_user && current_user.admin %>  
               || <%= link_to "ADD PRODUCT", new_product_path %> 
               || <%= link_to "EDIT PRODUCT", edit_product_path(@product) %>   
               || <%= link_to "DELETE PRODUCT", product_path(@product), :data => {:confirm => "Are you sure you'd like to delete this product?", :method => "delete"} %>
            <% end %>
        </div>
      </div>
    </div>
    <br>


    <% if @product.reviews.any? %>
      <h4>PRODUCT REVIEWS:</h4>
      <hr>
        <% @product.reviews.each do |review| %>
          By: <%= review.author %> | Rating: <%= review.rating %> of 5
          <p><%= review.content_body %></p>
          <p><%= link_to "edit", edit_product_review_path(@product, review)%><p>
           
         <hr>
        <% end %>
        <%= paginate @reviews %>
    <% else %>
      <p>There are currently no reviews for this product!</p>
    <% end %>

    
    <footer> Would you like to leave a review of your own? Sign up <%= link_to "HERE", new_user_registration_path%></footer>
    <footer>| <%= link_to "HOME PAGE", home_path %> |</footer>
  </div>
</div>
